# ----------------------
# Flask
# ----------------------
flask
pymc3
PyYAML
theano==0.7.0
pickle-mixin
keras
numpy
nltk


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
