# ----------------------
# Flask
# ----------------------
flask
pickle
keras
numpy
nltk


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
