# ----------------------
# Flask
# ----------------------
flask
libpython
mingw
pymc3
theano
pickle-mixin
keras
numpy
nltk


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
